<div class="imgGrid">

  <div class="imgGrid__back">

    <!-- aquí vendría la imágen del anterior juego  al 80% de height-->

    <div class="back__prize">

    </div>

  </div>

  <div class="imgGrid__backButton">

  </div>

  <div class="imgGrid__center">

    <!-- aquí vendría la imágen del juego principal  al 70% de height-->

    <!-- y aquí un botón para añadir a mis juegos solamente si se ha logueado-->

    <div class="center__prize">

    </div>

    <div class="center__data">

    </div>

  </div>

  <div class="imgGrid__nextButton">

  </div>

  <div class="imgGrid__next">
    <!-- aquí vendría la imágen del próximo juego  al 80% de height-->


    <div class="next__prize">

    </div>

  </div>

</div>
