.title{

  text-align:center;

  h1{

    font-weight: bolder;
    cursor:pointer;
    margin-top:15px;

  }

}

.topBar{

  background-color:lightblue;
  height:70px;
  display:flex;
  justify-content: space-between;
  padding-left:15px;
  padding-right:15px;
  margin-bottom:20px;

}

.logo{

  display:flex;

  p {

    color: white;
    font-weight: bold;
    font-family: sans-serif, 'Franklin Gothic Medium', 'Arial Narrow', Arial;
    margin-left: 15px;
    cursor: pointer;
    margin-top:25px;

  }

}

.userBox{
  margin-bottom: 16px;
}

.boton{
  margin-top:6px;
}

:host {

  flex-direction: column;

}
