<div class="title">

  <h1 routerLink="">This is My Offer</h1>

</div>

<div class="topBar">

  <div class="logo">
    <p routerLink="">My Offer</p>
    <p routerLink="">Mis juegos</p>
  </div>
  <div class="boton">
    <mat-form-field>
      <mat-label>Busque su juego</mat-label>
      <input matInput>
    </mat-form-field>

    <button mat-button [matMenuTriggerFor]="user" class="userBox">{{ User }}</button>
    <mat-menu #user="matMenu">
      @if(usuario){
        <button mat-menu-item>Modificar Usuario</button>
        <button mat-menu-item>Cerrar Sesión</button>
      }@else{
        <button mat-menu-item (click)="logIn()">Iniciar Sesión</button>
        <button mat-menu-item (click)="singIn()">Crear Usuario</button>
      }
    </mat-menu>
  </div>

  @if((this.serviceLogic.formsState)==1){

    <app-login/>

  }@else if((this.serviceLogic.formsState)==2){

    <app-singin/>

  }

</div>
