<div class="title">

  <h1 routerLink="">This is My Offer</h1>

</div>

<div class="topBar">

  <div class="logo">
    <p routerLink="">My Offer</p>
    <p routerLink="">Mis juegos</p>
  </div>
  <div class="boton">
    <mat-form-field>
      <mat-label>Juego</mat-label>
      <input matInput>
    </mat-form-field>
    <mat-form-field class="userBox">
      <mat-label>Usuario</mat-label>
      <mat-select>
        @if(usuario){
          <mat-option value="one">Modificar Usuario</mat-option>
          <mat-option value="two">Cerrar Sesión</mat-option>
        }@else{
          <mat-option value="one">Iniciar Sesión</mat-option>
          <mat-option value="two">Crear Usuario</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  @if(showLogin==1){

    <app-login/>

  }@else if(showLogin==2){

    <app-singin/>

  }

</div>
