<div class="title">

  <h1 routerLink="">This is My Offer</h1>

</div>

<div class="topBar">

  <div class="logo">
    <p routerLink="">My Offer</p>
    <p routerLink="">Mis juegos</p>
  </div>
  <div class="boton">
    <p>
      <input type="search" placeholder=" Introduzca el juego">
    </p>
    <p>
      <input type="button" value="Iniciar Sesión/Crear Usuario" (click)="logIn()" class="boton">
    </p>
  </div>

  @if(showLogin==1){

    <app-login/>

  }@else if(showLogin==2){

    <app-singin/>

  }

</div>
